* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
}
header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    font-size: 48px;
}
header h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}
header a {
    text-decoration: none;
    color: #ffffff;
}
header nav {
    float: right;
    color: #ffffff;
    text-decoration: none;
}
header nav ul li {
    display: inline;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px; 
}
header h1 .seo {
    color: #d9dcd6;
}
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
.float-left {
    float: left;
    margin-right: 0;
}
.float-right {
    float: right;
    margin-left: 0;
}
.benefits {
    text-align: center;
    background: #2589bd;
    color: #ffffff;
    width: 19%;
    margin: 10px 20px 20px 20px;
    display: inline-block;
    padding: 20px;
}
.benefits div {
    margin: 20px;
    color: #ffffff;
    padding-bottom: 32px;
}
.benefits img {
    max-width: 150px;
    display: block;
    margin: 5px auto;
}
.big-sellers{
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    display: inline-block;
    max-width: 78%;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.key-points {
    margin: 10px 10px 5px 10px;
    padding: 10px;
    background-color: #0072bb;
    overflow: auto;
    display: inline-block;
}
.key-points img {
    width: 35%;
    float: left;
    margin: 20px 0 20px 20px;
    padding: 20px 0 20px 20px;
}
.key-points h2 {
    font-size: 55px;
    padding: 10px;
    margin: 10px;
}
.key-points p {
    text-align: left;
    padding: 10px;
    margin: 10px;
}
.standouts {
    padding: 20px;
    float: left;
    width: 60%;
}
.standouts h2{
    font-size: 34px;
    margin-bottom: 20px;
    color: #ffffff;
}
.standouts p {
    font-size: 17px;
    color: #ffffff;
    line-height: 1.3;
}
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}
footer h2 {
    font-size: 20px;
}